/* Variables Partial*/

/* Font Family */
$ff-primary: 'Lato', sans-serif;

/* Font Weight */
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

/* Colours */
$clr-white: rgba(255, 255, 255, 1);
$clr-black: rgba(0, 0, 0, 1);
$clr-darkGreen: rgba(0, 46, 37, 1);
$clr-Green: rgba(0, 76, 63, 1);
$clr-lightGreen: rgba(0, 128, 96, 1);
$clr-yellowGreen: rgba(135, 179, 69);

/* Font Size */
$fs-h1-large-desktop: 80;
$fs-h2-large-desktop: 30;
$fs-p-large-desktop: 20;

$fs-h1-regular-desktop: 100;
$fs-h2-regular-desktop: 100;
$fs-p-regular-desktop: 100;

$fs-h1-landscape-tablet: 100;
$fs-h2-landscape-tablet: 100;
$fs-p-landscape-tablet: 100;

$fs-h1-portrait-tablet: 100;
$fs-h2-portrait-tablet: 100;
$fs-p-portrait-tablet: 100;

$fs-h1-landscape-mobile: 60;
$fs-h2-landscape-mobile: 20;
$fs-p-landscape-mobile: 16;

$fs-h1-portrait-mobile: 100;
$fs-h2-portrait-mobile: 100;
$fs-p-portrait-mobile: 100;
